@tailwind base;
@tailwind components;
@tailwind utilities;


#bgImg{
  background-image: url("../public/imagelady.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-color:#322f5edd;
  
}